.forstabild{

	width: 100%;
    height:auto;
    background:url(../bilder/ledstång.jpg); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-bottom: 15%;
 border-bottom-left-radius: 2em ;


}

.box1{

	width: 100%;
	height: auto;
		background-color: #053A66; /*ORANGE*/

}


.box3{
	width:100%;
	height: auto;
	background-color: #EA8422; /*blå*/
	margin-top:0%;
	 border-bottom-left-radius: 2em;
}
.box2{
	width:100%;
	height: auto;
	background-color: #053A66; /*ORANGE*/
	margin-top:0%;
 border-bottom-left-radius: 2em ;
	 padding-top: 2%;
	 padding-bottom: 2%;
}


.box4{
	width:100%;
	height: auto;
	background-color: #EA8422; /*blå*/
	margin-top:0%;
 border-bottom-left-radius: 2em;
 padding-top: 3%;
 padding-bottom: 7%;
}

.footer1{
	width:100%;
	height:auto;
	background-color:#777; 
	margin-top:0%;
	padding-top: 1%;
	padding-bottom: 1%;
		  font-family: arial;
    font-size: 0.8vw;
    color: white;
    text-align: left;
    padding-left: 5%;

}


.footer2{

	width: 100%;
	height: auto;
		background-color: #777; 

}





.box5{
	width: 31%;
	height: auto;
	float: left;
margin-left: 2%;
  font-family: arial;
    font-size: 1.5vw;
    color: white;
    

}


.box6{
	width: 31%;
	height: auto;
	float:;
	  font-family: arial;
    font-size: 1.5vw;
    color: white;
 
}

.box7{
	width: 31%;
	height: auto;
	float: right;
	margin-right: 2%;
  font-family: arial;
    font-size: 1.5vw;
    color: white;


	
}


.matt{

    width: 100%;
    height: auto;
    background:url(../bilder/matt.png); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 26%;
 padding-bottom:30%;
  border-bottom-left-radius: 2em ;
}

.tillverkning{

    width: 100%;
    height: auto;
    background:url(../bilder/tillverkning.png); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 26%;
 padding-bottom:30%;
  border-bottom-left-radius: 2em ;
}

.montering{

    width: 100%;
    height: auto;
    background:url(../bilder/montering.png); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 26%;
 padding-bottom:30%;
  border-bottom-left-radius: 2em ;
}

.box8{
	width: 45%;
	height: auto;
	float: left;
	margin-left: 2%;
	  font-family: arial;
    font-size: 3vw;
    color: white;
     font-weight: bold;
}

.box9{
	width: 45%;
	height: auto;
	float: right;
	margin-right: 2%;
	  font-family: arial;
    font-size: 3vw;
    color: white;
     font-weight: bold;
}