 .forstabild{
    width: 100%;
    height: auto;
    background:url(../bilder/tillverkning.png); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 10%;
  padding-bottom: 10%;
 font-family: Times New Roman;
    font-size:2.5vw;
    color: white;
         border-top:0.1em solid #EA8422;
    border-bottom: 0.1em solid #EA8422;
    text-align: center;
}


.box1 {

	width: 100%;
	height: auto;
	padding-top: 1%;
	    background:url(../bilder/tillverkning.png); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}
.box2{

	width: 80%;
	height: auto;
	  	 font-family: Times New Roman;
    font-size:2.5vw;
    color: white;
    opacity: 2;
    text-align: left;
    float: left;
    padding-left: 5%;

}

.box3{
padding-top: 1%;
	width: 100%;
	height: auto;
		  	 font-family: Times New Roman;
    font-size:2.5vw;
    color: black;

}

.box4{
margin-top: 2%;
width: 30%;
height:auto;
float: left;
margin-left: 3%;
font-family: Times New Roman;
    font-size:2vw;
    color: black;
}

.box4bild {

	width: 100%;
	height: auto;
	    background:url(../bilder/mått.png); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}



.box5{

width: 30%;
margin-top: 2%;
height: auto;
font-family: Times New Roman;
    font-size:2vw;
    color: black;
	}

.box5bild {

	width: 100%;
	height: auto;
	    background:url(../bilder/tillverkning.png); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}


.box6{
margin-right: 3%;
width: 30%;
margin-top: 2%;
height: auto;
float: right;
font-family: Times New Roman;
    font-size:2vw;
    color: black;
}

.box6bild {

	width: 100%;
	height: auto;
	    background:url(../bilder/montering.png); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}



.box7{
margin-top: 3%;
	width: 100%;
	height: auto;
}

.box8{
margin-left: 3%;
	width: 45%;
	height: auto;
	float: left;
	font-family: Times New Roman;
}

.box8bild {

	width: 100%;
	height: auto;
	    background:url(../bilder/betalningsätt.jpg); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}



.box9{
margin-right: 3%;
	width: 45%;
	height: auto;
	float: right;
	font-family: Times New Roman;
}

.box9bild {

	width: 60%;
	height: auto;
	    background:url(../bilder/dammberg.jpg); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
}


hr{

	width: 90%;
	height: 2%;
}