.indexbox{
	width: 50%;
	height:auto;
	margin-top: 10%;
display: inline-block;

}


.privat{
	width: 30%;
	height: auto;
float: left;
 font-family: Times New Roman;
    font-size:2.5vw;
    color: white;
    padding:5%;
    background-color: #999;
}

.privatbild {

	width: 100%;
	height: auto;
	padding-top: 1%;
	    background:url(../bilder/tillverkning.png); ) no-repeat center center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 5%;
  padding-bottom: 40%;
           border-top:0.1em solid #EA8422;
    border-bottom: 0.1em solid #EA8422;
}





.företag{
	width: 30%;
	height: auto;
float:;
 font-family: Times New Roman;
    font-size:2.5vw;
    color: white;
    padding:5%;
}


.arkitekt{
	width: 30%;
	height: auto;
float:right;
 font-family: Times New Roman;
    font-size:2.5vw;
    color: white;
    padding:5%;
}
