.bannerbox{
margin: 0%;
width: 100%;
height:auto;
padding: 0%;
padding-top: 1%;

}

.banner{
margin: 0%;
width: 40%;
height:auto;
padding: 0%;

}


.bild1{

    width: 100%;
    height: auto;
    background:url(../bilder/ledstång.jpg); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 100%;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-position: center;
 padding-top: 6%;
 padding-bottom: 7%;
margin-bottom: 0.4%;
font-family: 'Ranga', cursive;
    font-size: 1vw;
    color: white;
       border-top:0.1em solid #EA8422;
    border-bottom: 0.1em solid #EA8422;
}


.bild2{
margin-left: 5%;
    width:20%;
    height: auto;
    float: left;
font-family: 'Ranga', cursive;
    font-size: 1.5vw;
    color: white;

}


.bild3{
margin-right: 5%;
    width: 20%;
    height: auto;
    float: right;
font-family: 'Ranga', cursive;
    font-size: 1.5vw;
    color: white;
}


.bild4{
    width: 20%;
    height: auto;
    float: ;
font-family: 'Ranga', cursive;
    font-size: 1.5vw;
    color: white;
}




.boxtillmenu{

    height:auto;
    margin: 0%;
}




.shopbox{
    width: 100%
    height:auto;
    background-color: transparent;
}


ul {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color:#053A66;
    display: table;
    font-size: 1.2vw;


}

li {
 display: inline-block;
     float: none;
}

li a {
    height:0em;
    display: inline-block;
font-family: 'Ranga', cursive;
   font-size:1,3vw;
    color: #fff;
    text-align: center;
padding:1em 1em 2em 1em;
    text-decoration: none;
}

li a:hover {
    background-color:#EA8422;
    border-radius: 2%;
    color: #fff;
}


#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#fff;
      border-bottom: 0.1em solid #EA8422;
      border-left: 0.1em solid #EA8422;
    display:inline-block;
    float: right;
}


#navigation li
{
}

#navigation li a
{
    height:0em;
    display: block;
   font-family: 'Ranga', cursive;
    font-size:0.8vw;
    color: #000;
    text-align: center;
padding:0.5em 1em 2em 1em;
    text-decoration: ;
    border-radius: 2%;
}

#navigation li:hover a,
#navigation li a:hover
{
background-color:#EA8422;
color: #000;
}

a.two{

    text-decoration: none;
    font-family: 'Ranga', cursive;
    color:#fff ;
font-size: 1.5vw;
    display: inline;



}

a.two:hover{

    text-decoration: none;
    color:#EA8422 ;
font-family: 'Ranga', cursive;
}



a.four{

  font-family: arial;
    font-size: 1vw;
    color: black;
     font-weight: bold;
     text-decoration: none;



}

a.four:hover{

  font-family: arial;
    font-size: 1vw;
    color: #053A66;
     font-weight: bold;
}



.vertical-menu {
    width: 20%; 
    float: left;
    margin-top: %;
}

.vertical-menu a {
    background-color:#053A66; 
    color: white; 
    display: block; 
    padding:3%; 
 text-decoration: none;
 font-family:'Ranga', cursive;
 font-size: 1.2vw;
}

.vertical-menu a:hover {
    background-color: #EA8422; 
     font-size: 1.2vw;
     color: black;
}

.vertical-menu a.menu {
    background-color:#EA8422;
     font-size: 1.2vw;
    color: black;
}

.produkterboxen
{
    width: 90%;
    background-color: transparent;
    height: auto;
}

.produktbox{
    height: auto;
font-size: 1.2vw;
    width: 50%;
    text-align: center;
}

h2{

    font-size: 1.5vw;
}


.boxtillprodukt{

    width: 100%;
    height: auto;
}

.infoknapp{
    width: 90%;
    background-color: white;
    color: black;
    height: auto;
    font-size: 1vw;
    margin-bottom: 5%;
}

.leftbox{
    width: 25%;
    height: auto;
    float: left;
}

.leftleft{
    width: 30%;
    height: auto;
    float: left;

}

.leftmitten{
    width: 30%;
    height: auto;
    float: ;
}

.leftright{
    width: 30%;
    height: auto;
    float:right;
}






.mittenbox{
    width: 25%;
    margin-left: 24%;
    height: auto;
    float: ;
}

.mittenleft{
    width: 30%;
    height: auto;
    float: left;

}

.mittenmitten{
    width: 30%;
    height: auto;
    float: ;
}

.mittenright{
    width: 30%;
    height: auto;
    float:right;
}











.rightbox{
    width: 24%;
    height: auto;
        float: right;
}



.rightleft{
    width: 30%;
    height: auto;
    float: left;
}

.rightmitten{
    width: 30%;
    height: auto;
    float: ;

}



