.övre{
width: 100%;
overflow: hidden;
height: auto;
border: 0.1vw;
border-style: solid;
border-color: #fff;

}

.måttbild{
width: 20%;
height:auto;
  background:url(../bilder/mått.jpg); ) no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 background-repeat: no-repeat;
 max-width: auto;
 max-height: auto;
 background-size: 100%;
 background-position: center;
 float: left;
 padding-top: 20%;
 padding-bottom: 0%;
 margin-top: 0%;
}

.mått{
width: 40%;
height:auto;
background-color: #000;
color: #fff;
font-size:1.3vw;
font-family:arial;
padding: 1%;
border: 0.1vw;
border-style: solid;
border-color: #fff;
margin-left: 27%;
margin-bottom: 10%;
text-align: center;

}
